{% extends "base.html" %}


{% block content %}
	<main class="container mt-4">
        <h1>Delete Job Role?</h1>
		<section id="form" class="bg-light py-5">
			<div class="container">
                {% if errormessage %}
                    <div class="alert alert-danger" role="alert">
                        {{ errormessage }}
                    </div>
                {% endif %}
                <form action="/delete-job-role" method="post">
                    <div class="form-group">
                        <label for="id">Job Role Id</label>
                        <input type="number" min="0" id="id" name="id" class="form-control" required>
                        <label for="shouldDeleteJobRole">Are you sure you want to delete job role?</label>
                        <input id="shouldDeleteJobRoleYes" name="shouldDeleteJobRole" type="radio" value="true" /> Yes
                        <input checked="checked" id="shouldDeleteJobRoleNo" name="shouldDeleteJobRole" type="radio" value="false" /> No
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
		</section>
	</main>
{% endblock %}