{% extends "base.html" %}


{% block content %}
    <main class="main-content">
        <h1>View Families By Capability</h1>
        {% if families and families.length > 0 %}
        {% if capability %}
            <h2 id="title">Families for {{ capability.name }} Capability</h2>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Family Name</th>
                </tr>
            </thead>
            <tbody>
                {% for family in families %}
                <tr>
                    <td>{{ family.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2 id="title">Families not got</h2>
        {% endif %}
    </main>
{% endblock %}