{% extends "base.html" %}


{% block content %}
    <main class="main-content">
        <h1>Select Capability to View Families for:</h1>
        {% if errormessage %}
        <div class="alert alert-danger" id="select-capability-error">
            {{ errormessage }}
        </div>
        {% endif %}
        {% if capabilities and capabilities.length > 0 %}
        <form action="/select-capability/" method="post">
            <div class="form-group">
                <label for="capabilityID">Select Capability:</label>
                <select name="capabilityID" id="capabilityID">
                    {% for capability in capabilities %}
                        <option value="{{ capability.capabilityID }}" >{{ capability.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
    </main>
{% endblock %}