{% extends "base.html" %}

{% block content %}
    <main class="main-content p-4">
        <div class="table-responsive">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Band</th>
                        <th scope="col">Capability</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Sharepoint</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                        <tr>
                            <th scope="row">{{role.roleName}}</a></td>
                            <td>{{role.bandName}}</td>
                            <td>{{role.capabilityName}}</td>
                            <td>
                            <div class="btn-group mr-3" role="group">
                                <button type="button" class="btn btn-primary">View</button>
                                <button type="button" class="btn btn-primary">Edit</button>
                                <button type="button" class="btn btn-primary">Delete</button>
                            </div>
                            </td>
                            <td><a href="{{role.sharepointLink}}">Visit</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}